
/*esconder barra de desplazamiento*/
::-webkit-scrollbar {
    display: none;
}


body {
  background-color: #FFFFFF;
  font-size: 16px;
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  overflow-x: hidden;

}
.title {
  position: relative;
  margin: auto;
  width: 20%;  
  float: left;
  text-align: left;
  font-size: 60;
  font-weight: bold;
  color: #fff;
  line-height: 0.5em;
  margin-top: 3%;
}

.subtitle {
  font-size: 25;
  font-weight: bold;
  color: white;
  position: relative;
  margin: auto;
  width: 50%;
  text-align: center;
}

/*barra menú*/
#header {
    position: fixed;
    width: 100%;
}

.headers {
  font-size: 14px;
}

.activo {
  color: #BDD8AC;
  background: rgba(255, 255, 255, 0.15);
}

.navbar {
  border: none;
  margin:0px;
}

.navbar-default {
  background-color: transparent;
  margin: 0px;
}

#nav {
  position: fixed;
  width: 100vw;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
 }

.navbar{
  border-radius: 0px;
  border-top: 0px;
  margin-top: 0px;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#nav li a {
    color: #F2F6EF;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  height: 50px;
}

#nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
} 

/*sección inicio********************************************************************************************/
#inicio {
  position: relative;
  min-height: 100vh;
  background-color: #69bd79;
  background-image: url(../img/background/background01.png);
  background-size: cover;
}

#imgLogo {
  position: absolute;
  z-index: 97;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
} 

/*sección Sobre NPK*******************************************************************************************/
#sobrenpk {
  position:relative;
  overflow: hidden;
  background-color: #31946E; /*#539c49*/
}

.ab {
  position: relative;
  margin: auto;
  width: 75%;
  padding-top: 1%;
  padding-bottom:2%;
}

.text1 {
  position: relative;
  float: right;
  color: white;
  padding-top: 4vh;
  line-height: 170%;
  max-width: 75%;

}


@media (max-width:768px){
  #prodserv {width:100%;}
}

#prodserv ul {
    position: relative;
    max-width: 90%;
    margin: auto;
  padding-left: 0px;
}
#prodserv ul li {
  width: 15%;
  max-width: 150px;
  margin-right: 5%;
  height: auto;
  display: inline-block;
  vertical-align:top;
}

.itemps{
max-width: 150px;
min-width: 50px;
}

.imgps {
border-radius: 100px;
}


.services {
    position: relative;
    margin: auto;
    width: 85%;
    align-self: center;
    padding-top: 2%;
    padding-bottom:1%;
    margin-bottom: 10vh;
    background-color:#fff;
    border-radius: 10px;
    color: #31946E;

}
.sitem {
  position: relative;
  margin: auto;
align-content: center;
}

.service-item {
    margin-bottom: 30px;
}
.textR {
  position: relative;
  float: right;
  max-width: 50%;

}

.about {
  position: relative;
}

@media (min-width:1300px) {
#sobrenpk { margin: auto;
            align-self: center; }
}



/*sección PROYECTOS*******************************************************************************************/
#proyectos {
  position: relative;
  height: 97vh;
  overflow: hidden;
  background-color: #6bb561;
}

.hidden {
    display: none;
}


/* CAROUSEL */
.carousel-inner.onebyone-carosel { margin: auto; width: 95%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }

/*
@media (max-width: 768px) {
    .carousel-inner.onebyone-carosel > .item { -webkit-transition: -webkit-transform .6s ease-in-out; -o-transition: -o-transform .6s ease-in-out; transition: transform .6s ease-in-out; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; perspective: 1000;} 
    .carousel-inner.onebyone-carosel > .item.next, .carousel-inner.onebyone-carosel > .item.active.right { left: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);} 
    .carousel-inner.onebyone-carosel > .item.prev, .carousel-inner.onebyone-carosel > .item.active.left { left: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);} 
    .carousel-inner.onebyone-carosel > .item.next.left,.carousel-inner.onebyone-carosel > .item.prev.right,.carousel-inner.onebyone-carosel > .item.active {left: 0;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}

.onebyone-carosel .active.left { left: -100%; }
.onebyone-carosel .active.right { left: 100%; }
.onebyone-carosel .next { left: 100%; }
.onebyone-carosel .prev { left: -100%; }

}
*/

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.left { left: -50px;
                         color: #31946E; }

.carousel-control.right { right: -50px;
                          color: #31946E; }

/* Fancybox */
.fancybox-nav span {
 visibility: visible;
}
.fancybox-next span {
 left: auto;
 right: 20px;
}
.fancybox-prev span {
 left: 20px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  border-radius: 5px;
  }

.onebyone-carosel {
  position: relative;
  background-color: none;
}

.project {
  padding: 0;
}
.thumbnail {
    background-color: rgba(255,255,255,0.1);
    margin: 15px;
}


/*@media (max-width: 768px) {
 .project { width: 100%; }
}*/

#myCarousel {
  width: 90%;
  margin: auto;

}

.pr {
  position: relative;
  margin: auto;
  width: 80%;
  padding-top: 1%;
  padding-bottom:3%;

}
.caption h3 {
  font-size: 18px;
}

.caption p {
  font-size: 14px;
  text-align: justify;
}


/*sección CONTACTO*******************************************************************************************/
/*
#tarjetas {
  position:relative;
  width: 80%;
  margin: 0 auto;
}
@media (max-width:768px){
  #tarjetas {width:100%;}
}

#tarjetas ul {
  padding-left: 0px;
}
#tarjetas ul li {
  width: 15%;
  max-width: 150px;
  margin-right: 5%;
  height: auto;
  display: inline-block;
  vertical-align:top;
}
.tarj{
max-width: 150px;
min-width: 50px;
}

.fototarj {
border-radius: 100px;
}

*/

#contacto {
  position: relative;
  min-height: 100vh;
  padding: 15vh;
  background-image: url(../img/background/background02.jpg);
  background-size: cover;
  overflow: hidden;
}

#contacto p {
  align-self: right;
}

#tituloContacto {
  position: relative;
  overflow: hidden;
  float: right;
  color: white;
  font-size: 24px;
  text-align: right;
}

#contact-box {
  position: relative;
  width: 50%;
  background-color: rgba(255,255,255,0.1);
  font-size: 0.6em;
  float: left;
  border-radius: 10px;
  padding: 2%;
  margin-left: 4%;
}


input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder {
color: white !important;  
}
 
input::-moz-placeholder {
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}

::-webkit-input-placeholder {
color: white !important;
}
 
:-moz-placeholder {
color: white !important;  
}
 
::-moz-placeholder { 
color: white !important;  
}
 
:-ms-input-placeholder {  
color: white !important;  
}


#contactos {
position: relative;
overflow: hidden;
float: right;
font-size: 0.9em;
text-align: right;
color: white;
padding-top: 1.5%;
}

#contactos h3 {
  color: white;
}

#btn-send {
  float: right;
  margin-top: 7px;
}

#spam-advice {
  float: left;
  width: 70%;
  margin-left: 2%;
  padding-top: 8px;
  padding-left: 10px;
  text-align: justify;
}

.twitter {
  width: 54px;
  height: 52px;
  background-image: url(../img/btnsocial-11.png);
  background-position: 0px 50px;
}

.twitter:hover {
  background-position: 0px -5px;
}

.facebook {
  width: 54px;
  height: 52px;
  background-image: url(../img/btnsocial-10.png);
  background-position: 0px 50px;
}

.facebook:hover {
  background-position: 0px -5px;
}

.instagram {
  width: 55px;
  height: 52px;
  background-image: url(../img/btnsocial-08.png);
  background-position: 0px 50px;
}

.instagram:hover {
  background-position: 0px -5px;
}

.linkedin {
  width: 56px;
  height: 52px;
  background-image: url(../img/btnsocial-09.png);
  background-position: 0px 50px;
}

.linkedin:hover {
  background-position: 0px -5px;
}

@media (max-width: 1000px) {
  #contact-box { width: 100%;
                 margin: 0}
}

@media (max-width: 768px) {
  #contacto {padding:2vh;}
  #contactos { width: 100%;
               float: none;
               text-align: center; }
  #contact-box { padding-left:3vh;
                 padding-right:3vh; }
  #spam-advice { padding-right: 25px; }
}

.label {
  font-size: 10px;
}

/*BTNS*************************************************************************************************************************/
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18bc9c;
  outline: none;
}

section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #18bc9c;
  color: white;
}
section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
  color: #2c3e50;
  outline: none;
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 0px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18bc9c;
  background: white;
  border: solid 2px white;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: -5px;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18bc9c;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
